<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VBDumplings_Test" verbose="1" parallel="none">
	<!-- <parameter name = "driverPath" value = "C:\\Users\\Rahul Pradhan\\OneDrive\\Documents\\Selenium\\Drivers\\" /> -->
	<parameter name = "vbdURL" value = "https://vbdumplings.in/" />

	 <!--<test name="EdgeTest">
		<parameter name = "browserType" value = "msedge" />
		<classes>
			<class name="vbDumplingTestRunners.testHomePage"/>				
			<class name="vbDumplingTestRunners.testMenuPage"/>
			<class name="vbDumplingTestRunners.testFaqPage"/> 
			<class name="vbDumplingTestRunners.testTestimonialsPage"/>
		</classes>
	</test>-->  <!-- EdgeTest -->
		
	<test name="FirefoxTest">
		<parameter name = "browserType" value = "firefox" />
		<classes>
			<class name="vbDumplingTestRunners.testHomePage"/>	
			<class name="vbDumplingTestRunners.testMenuPage"/>
			<class name="vbDumplingTestRunners.testFaqPage"/> 
			<class name="vbDumplingTestRunners.testTestimonialsPage"/> 
		</classes>
	</test> <!-- FirefoxTest -->
	
	 <test name="ChromeTest">
		<parameter name = "browserType" value = "chrome" />
		<classes>
			<class name="vbDumplingTestRunners.testHomePage"/>				
			<class name="vbDumplingTestRunners.testMenuPage"/>
			<class name="vbDumplingTestRunners.testFaqPage"/>
			<class name="vbDumplingTestRunners.testTestimonialsPage"/>
		</classes>
	</test> <!-- ChromeTest -->
	
	<!--<groups>
			<run>
				<include name = "group2" />
			</run>
		</groups>-->
	
</suite> <!-- VBDumplings_Test -->
