<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleGoogleTestSuite" verbose="1" parallel="none">
	<!-- <parameter name = "driverPath" value = "C:\\Users\\Rahul Pradhan\\OneDrive\\Documents\\Selenium\\Drivers\\" /> -->
	<test name="FirefoxTest">
		<!--<groups>
			<run>
				<include name = "group2" />
			</run>
		</groups>-->
		<parameter name = "browserType" value = "firefox" />
		<!-- <parameter name = "driverVersion" value = "geckodriver-v0.29.0.exe" /> -->
		<classes>
			<class name="VBDumplings.SampleTestNG"/>	
		</classes>
	</test> <!-- FirefoxTest -->
	<test name="ChromeTest">
		<parameter name = "browserType" value = "chrome" />
		<!-- <parameter name = "driverVersion" value = "chromedriver_v89.exe" /> -->
		<classes>
			<class name="VBDumplings.SampleTestNG"/>	
		</classes>
	</test>  <!-- ChromeTest -->
	<test name="EdgeTest">
		<parameter name = "browserType" value = "msedge" />
		<parameter name = "driverVersion" value = "msedgedriver_v89.0.774.76_win64.exe" />
		<classes>
			<class name="VBDumplings.SampleTestNG"/>
		</classes>
	</test> <!-- EdgeTest -->
</suite> <!-- SampleGoogleTestSuite -->